html, body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	height: 100%;
	width: 100%;
	padding: 10px;
	background-color: #1A3258;
}

.menu {
	flex: 1;
	text-align: right;
	color: white;
}

	.menu a {
		font-size: small;
		color: white;
	}

.contentContainer {
	flex: 1;
	position: relative;
	margin: 0px;
}

.contentPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	visibility: hidden;
	flex: 1;
}

.logonPanel {
	text-align: center;
	align-content: center;
}

	.logonPanel button, button {
		background-color: #1A3258;
		color: white;
		border: 2px solid white;
		border-radius: 5px;
		font-weight: bold;
	}

		.logonPanel button:hover, button:hover {
			background-color: #0F1E34;
			color: white;
			border: 2px solid #32cdf7;
			box-shadow: 1px 1px 5px 5px #32cdf7;
		}

#thankYouPanel button {
	padding: 15px;
}

#logonPanel h1 {
	color: white;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

	.form-signin .checkbox {
		font-weight: 400;
	}

	.form-signin .form-control {
		position: relative;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}

		.form-signin .form-control:focus {
			z-index: 5;
		}

	.form-signin input[type="text"] {
		margin-bottom: 10px;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
	}

#departmentsPanel .row {
	width: 100%;
	padding: 10px;
	margin: auto;
}

#departmentsPanel .col {
	height: 90px;
	margin:15px;
}

#departmentsPanel h1, #departmentsPanel h3 {
	color: white;
}

#departmentsPanel button, #departmentsPanel option {
	background-color: rgb(217, 220, 222);
	color: #1A3258;
}

#feedbackListPanel table {
	margin-right: 5%;
	margin: auto;
	text-align: center;
	margin-top: 0;
}

#feedbackListPanel {
    background-color: #1A3258;
    width: 100%;
}

.filteredOptionsTable {
	background-color: #1A3258;
    float:left;
    width: 20%;
    padding-left: 40px;
    padding-right: 40px;
}
.dbListTable {
    float: none;
    width: 80%;
    margin: 0;
}

#feedbackListPanel .card-header {
	color: white;
}

#feedbackListPanel .filter-content {
	background-color: white;
}

.dbListTitle {
    overflow: hidden;
    background-color: #1A3258;
    border-width: 1px;
}

#feedbackListPanel tbody{
    background-color:white;
}

#feedbackListPanel #approvedbutton1, #feedbackListPanel #approvedbutton2{
	color: #1A3258;
	border: 1px;
	border-color: white;
	background-color: transparent;
}

	#feedbackListPanel #approvedbutton1:hover {
		text-decoration: underline;
		border: 1px;
		border-color: white;
		box-shadow: none;
	}

	#feedbackListPanel #approvedbutton2:hover {
		border: 1px;
		border-color: white;
		box-shadow: none;
	}


#feedbackListPanel th {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: #1A3258;
	border-bottom: 1px solid rgba(0,0,0,.125);
	color: white;
}

/*#feedbackListPanel button, #questionsPanel button, #thankYouPanel button{
	background-color: white;
	color: #1A3258;
	border: 2px solid #1A3258;
	border-radius: 5px;
	font-weight: bold;
}

	#feedbackListPanel button:hover, #questionsPanel button:hover {
		background-color: #182F53;
		color: white;
		border: 2px solid #396DC1;
	}*/

.questionBox{
	color:white;
	width: 100%;
}

	.questionBox th {
		padding: .75rem 0rem;
		margin-bottom: 0;
		border-bottom: 1px solid rgba(0,0,0,.125);
		color: white;
		font-size:x-large;
	}

	.questionBox tr {
		padding: .75rem 1.25rem;
	}

#questionsPanel #submit {
	text-align: center;
	margin:20px;
}

#questionsPanel #submitButton {
	padding: 15px;
}

.questionBox input[type="text"] {
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	margin-bottom:20px;
	width: 100%;
}

/*.questionBox tr:empty {
	display: none;
	border-style: none;
}*/

#thankYouPanel {
	text-align: center;
}

	#thankYouPanel h1 {
		margin: 15% 0px 10% 0px;
		color: white;
	}
