html, body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	height: 100%;
	width: 100%;
	padding: 10px;
	background-color: #1A3258;
}

/*.left {
	text-align: left;
}

.center {
	text-align: center;
}*/

.menu {
    flex: 1;
    text-align: right;
    color: white;
}

.menu a {
    font-size: small;
    color: white;
}

.contentContainer {
    flex: 1;
    position: relative;
    margin: 0px;
}

.contentPanel {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    flex: 1;

}

.logonPanel {
    text-align: center;
    align-content: center;
}

#logonPanel button {
	background-color: #1A3258;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	font-weight: bold;
}

	#logonPanel button:hover {
		background-color: white;
		color: #1A3258;
		border: 2px solid #1A3258;
	}

#logonPanel h1 {
	color: white;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index:5;
        }

	.form-signin input[type="text"] {
		margin-bottom: 10px;
	}

    .form-signin input[type="password"] {
        margin-bottom: 10px;
    }

#departmentsPanel .row {
	width: 100%;
	padding: 15px;
	margin: auto;
}

#departmentsPanel .col {
	height: 90px;
}

#departmentsPanel h1, #departmentsPanel h3 {
	color: white;
}

#departmentsPanel button, option {
	background-color: white;
	color: #1A3258;
}

#feedbackListPanel table {
	width: 70%;
	margin-right: 5%;
	margin: auto;
	text-align: center;
	margin-top: 0;
}

#feedbackListPanel {
	background-color: white;
}

.filteredOptionsTable {
	background-color: #1A3258;

}

#feedbackListPanel .card-header {
	color: white;
}

#feedbackListPanel .filter-content {
	background-color: white;
	
}

.dbListTitle {
    overflow: hidden;
    background-color: white;
}

#feedbackListPanel th {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: #1A3258;
	border-bottom: 1px solid rgba(0,0,0,.125);
	color: white;
}

#feedbackListPanel button {
	background-color: #1A3258;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	font-weight: bold;
}

	#feedbackListPanel button:hover {
		background-color: white;
		color: #1A3258;
		border: 2px solid #1A3258;
	}


